<div class="margin-top row">
    <div class="medium-12 columns">
    	<h2>INVTR Privacy Policy</h2>
    	<h3>INTRODUCTION</h3>
    	<p>(a) HERENOW.inc (HERENOW, “we,” “us,” “our”) is the owner of the INVTR
    	Website Application and the www.INVTR.co website (collectively, the Platform).
    	INVTR is a web tool used to create, share and track personal event invites via
    	email (the Service).</p>
    	<p>(b) By accessing www.INVTR.co, its website applications, and any other linked
    	pages, features, content, or applications offered in connection with the Service,
    	you acknowledge and accept the practices and policies outlined in this Privacy
    	Policy.</p>
    	<p>(c) The Privacy Policy should be read in conjunction with our Terms of Service that
    	govern all use of INVTR.</p>
    	<h3>2 PRIVACY STATEMENT</h3>
    	<p>2.1 This Privacy Policy governs the manner in which we collect, use, maintain and disclose
    	information collected from Users of INVTR. This privacy policy applies to INVTR and all
    	products and services offered by us (the Service). All individuals with access to personal
    	information about our customers are required to follow this policy effective as of
    	December 25, 2015.</p>
    	<p>2.2 By publishing this Privacy Policy we aim to make it easy for our customers and the public
    	to understand what Personal Information we collect and store, why we do so, how we
    	receive and/or obtain that information, and the rights an individual has with respect to
    	their Personal Information in our possession.</p>
    	<h3>3 PURPOSE OF OUR POLICY</h3>
    	<p>3.1 We have adopted this Privacy Policy to ensure that we have standards in place to protect
    	the Personal Information that we collect about individuals that is necessary and incidental
    	to:</p>
    	<p>(a) Providing the Platform and Service that we offer; and</p>
    	<p>(b) The normal day-to-day operations of our business.</p>
    	<p>3.2 By publishing this Privacy Policy we aim to make it easy for our customers and the public
    	to understand what Personal Information we collect and store, why we do so, how we
    	receive and/or obtain that information, and the rights an individual has with respect to
    	their Personal Information in our possession.</p>
    	<h3>4 THE INFORMATION WE COLLECT</h3>
    	<p>4.1 In the course of business it is necessary for us to collect Personal Information. This
    	information allows us to identify who an individual is for the purposes of our business,
    	contact the individual in the ordinary course of business and transact with the individual.
    	Specifically, we require this information in order to verify the identity of our Users, to
    	protect our customers, and to ensure the integrity of the sales we facilitate.</p>
    	<p>4.2 You may, however, visit INVTR anonymously. We will collect personal identification
    	information from you only if you voluntarily submit such information to us. You can always
    	refuse to supply personally identification information, except that it may prevent you from
    	engaging in certain Site related activities.</p>
    	<p>4.3 Without limitation, the type of information we may collect is:</p>
    	<p>4.4</p>
    	<p>(a) Personal Information. We may collect personal details such as an individual’s
    	name, location, date of birth, nationality, family details and other information
    	defined as “Personal Information” that allows us to identify who the individual is;</p>
    	<p>(b) Contact Information. We may collect information such as an individual’s email
    	address, telephone & fax number, and other information that allows us to contact
    	the individual;</p>
    	<p>(c) Financial Information. We may collect financial information related to an
    	individual such as any bank or credit card details used to transact with us and
    	other information that allows us to transact with the individual and/or provide
    	them with our services;</p>
    	<p>(d) Statistical Information. We may collect information about an individual’s online
    	and offline preferences, habits, movements, trends, decisions, associations,
    	memberships, finances, purchases and other information for statistical purposes;</p>
    	<p>(e) Other Information. We may collect other Personal Information about an
    	individual, which we will maintain in accordance with this Privacy Policy. We may
    	also collect non-Personal Information about an individual such as information
    	regarding their computer, network and browser. This may include their IP
    	address. Finally, we may collect any personal correspondence that an individual
    	sends us, or that is sent to us by others about the individual’s activities.
    	Children</p>
    	<p>(a)
    	This Site is not designed nor intended for use by children under the age of 13. If
    	you are under the age of 13, you are not authorized to use this site so please do
    	not submit any information to us.</p>
    	<h3>5 HOW INFORMATION IS COLLECTED</h3>
    	<p>5.1 Most information will be collected in association with an individual’s use of INVTR, an
    	enquiry about INVTR or generally dealing with us. However we may also receive
    	Personal Information from sources such as advertising, an individual’s own promotions,
    	public records, mailing lists, contractors, staff, recruitment agencies and our business
    	partners. In particular, information is likely to be collected as follows:</p>
    	<p>5.2 Third Party Services. When an individual provides their email address or other
    	information in order to access and share the created invites with their email contacts via a
    	Third Party Service.</p>
    	<p>(a)
    	Supply. When an individual supplies us with goods or services;</p>
    	<p>(b) Contact. When an individual contacts us in any way;</p>
    	<p>(c) Cookies. HERENOW may use "cookies" to enhance User experience. Your web
    	browser places cookies on their hard drive for record-keeping purposes and
    	sometimes to track information about them. You may choose to set your web
    	browser to refuse cookies, or to alert you when cookies are being sent. If they do
    	so, note that some parts of HERENOW may not function properly.</p>
    	<p>5.3 As there are many circumstances in which we may collect information both electronically
    	and physically, we will endeavour to ensure that an individual is always aware of when
    	their Personal Information is being collected.</p>
    	<p>5.4 Where we are aware that we have obtained Personal Information without an individual’s
    	knowledge (such as by accidental acquisition from a client) we will either delete/destroy
    	the information, or inform the individual that we hold such information.</p>
    	<p>6 THE SAFETY & SECURITY OF PERSONAL INFORMATION</p>
    	<p>6.1 Physical Facilities. We will take all reasonable precautions to protect an individual’s
    	Personal Information from unauthorised access. We adopt appropriate data collection,
    	storage and processing practices and security measures to protect against unauthorized
    	access, alteration, disclosure or destruction of your personal information, username,
    	password, transaction information and data stored on INVTR. This includes appropriately
    	securing our physical facilities and electronic networks.</p>
    	<p>6.2 Privacy Officer. We may appoint a Privacy Officer to oversee the management of this
    	Privacy Policy. This officer may have other duties within our business and also be
    	assisted by internal and external professionals and advisors.</p>
    	<p>6.3 Internet Security. The security of online transactions and the security of communications
    	sent by electronic means or by post cannot be guaranteed. Each individual that provides
    	information to us via the Internet or by post does so at their own risk. We do not accept
    	responsibility for misuse or loss of, or unauthorised access to, Personal Information
    	where the security of information is not within our control.</p>
    	<p>6.4 Third Party Use. We are not responsible for the privacy or security practices of any third
    	party (including third parties that we are permitted to disclose an individual’s Personal
    	Information to in accordance with this policy or any applicable laws). The collection and
    	use of an individual’s information by such third parties may be subject to separate privacy
    	and security policies.</p>
    	<p>6.5 Unauthorized Access. If an individual suspects any misuse or loss of, or unauthorised
    	access to, their Personal Information, they should let us know immediately.</p>
    	<p>6.6 Authorized Use. We are not liable for any loss, damage or claim arising out of another
    	person’s use of the Personal Information where we were authorized to provide that
    	person with the Personal Information.</p>
    	<h3>7 WHEN PERSONAL INFORMATION IS USED & DISCLOSED</h3>
    	<p>7.1 Purpose. In general, we will not use any Personal Information other than for the purpose
    	for which it was collected. The purpose of collection is determined by the circumstances
    	in which the information was collected and/or submitted.</p>
    	<p>7.2 Time Period. We will retain Personal Information for the period necessary to fulfil the
    	purposes outlined in this Privacy Policy unless a longer retention period is required or
    	permitted by law.</p>
    	<p>7.3 Non-Disclosure. We will not disclose or sell an individual’s Personal Information to
    	unrelated third parties under any circumstances. We do not sell, trade, or rent Users
    	personal identification information to others.</p>
    	<p>7.4 Business Operations. Information is used to enable us to operate our business,
    	especially as it relates to an individual. This may include:</p>
    	<p>7.5</p>
    	<p>(a) The provision of goods and services between an individual and us;</p>
    	<p>(b) Verifying an individual’s identity;</p>
    	<p>(c) Communicating with an individual about:</p>
    	<p>i Their relationship with us;</p>
    	<p>ii Our goods and services;</p>
    	<p>iii Our own marketing and promotions to customers and prospects;</p>
    	<p>iv Competitions, surveys and questionnaires;</p>
    	<p>(d) Improve Customer Service. Information you provide helps us respond to your
    	customer service requests and support needs more efficiently.</p>
    	<p>(e) Personalize Your Experience. We may use information in the aggregate to
    	understand how our Users as a group use the services and resources provided
    	on INVTR.</p>
    	<p>(f) Site Improvement. We may use feedback you provide to improve our products
    	and services.</p>
    	<p>(g) Payments. We may use the information Users provide about themselves when
    	placing an order only to provide service to that order. We do not share this
    	information with outside parties except to the extent necessary to provide the
    	service.</p>
    	<p>(h) Emails. We may use your email address to send you information and updates
    	pertaining to their order. It may also be used to respond to inquiries, questions,
    	and/or other requests. If you decide to opt-in to our mailing list, you will receive
    	emails that may include company news, updates, related product or service
    	information, etc. If at any time you would like to unsubscribe from receiving future
    	emails, you may do so by contacting us at info@HERENOW.nyc
    	Disclosure. There are some circumstances in which we must disclose an individual’s
    	information:</p>
    	<p>(a) Where we reasonably believe that an individual may be engaged in fraudulent,
    	deceptive or unlawful activity that a governmental authority should be made
    	aware of;</p>
    	<p>(b) As required by any law; or,</p>
    	<p>(c)
    	In order to sell our business (in that we may need to transfer Personal
    	Information to a new owner).</p>
    	<p>7.6 Third-Party Service Providers. We may utilise third-pay service providers (such as
    	Gmail from Google, Inc., and MailChimp from The Rocket Science Group LLC) to
    	communicate with an individual and to store contact details about an individual. These
    	service providers are located in the United States of America.</p>
    	<h3>8 HOW TO ACCESS AND/OR UPDATE INFORMATION</h3>
    	<p>8.1 All the information we hold about a User’s event is available in the User’s event tracking
    	page. The User can modify their event information, or cancel their event there.</p>
    	<p>8.2 If for any reason an individual cannot update or cancel his or her event, the user can
    	contact info@herenow.nyc.</p>
    	<p>8.3 It is an individual’s responsibility to provide us with accurate and truthful Personal
    	Information. We cannot be liable for any information that is provided to us that is
    	incorrect.</p>
    	<p>8.4 We may charge an individual a reasonable fee for our costs incurred in meeting any of
    	their requests to disclose the Personal Information we hold about them.</p>
    	<h3>9 COMPLAINTS AND DISPUTES</h3>
    	<p>9.1 If an individual has a complaint about our handling of their Personal Information, they
    	should address their complaint in writing to the details below.</p>
    	<p>9.2 If we have a dispute regarding an individual’s Personal Information, we must first attempt
    	to resolve the issue directly between us.</p>
    	<p>9.3 If we become aware of any unauthorised access to an individual’s Personal Information
    	we will inform them at the earliest practical opportunity once we have established what
    	was accessed and how it was accessed.</p>
    	<h3>10 CONTACTING INDIVIDUALS</h3>
    	<p>10.1 From time to time, we may send an individual important notices, such as changes to our
    	terms, conditions and policies. Because this information is important to the individual’s
    	interaction with us, they may not opt out of receiving these communications.</p>
    	<h3>11 YOUR ACCEPTANCE OF THESE TERMS</h3>
    	<p>11.1 By using this Site, you signify your acceptance of this policy. If you do not agree to this
    	policy, please do not use INVTR. Your continued use of INVTR following the posting of
    	changes to this policy will be deemed your acceptance of those changes.</p>
    	<h3>12 ADDITIONS TO THIS POLICY</h3>
    	<p>12.1 If we decide to change this Privacy Policy, we will post the changes on our website.
    	Please refer back to this Privacy Policy to review any amendments.</p>
    	<h3>13 CONTACTING US</h3>
    	<p>13.1 If you have any questions about this Privacy Policy, the practices of this site, or your
    	dealings with this site, please contact us at:
    	info@HERENOW.nyc
    	This document was last updated on Dec 28, 2015<p>   		
    </div>
</div>