<div class="margin-top row">
    <div class="medium-12 columns">
  	    <h2>Terms and Conditions</h2>
		<h3>INTRODUCTION FOR USERS</h3>
		<p>Welcome to INVTR, the invite tool for friends to create, share and track events.
		The following document sets forth the legally binding terms that regulate your
		use of this website, and the widgets, features, apps and other services available
		through www. invtr.co (Platform). Please read the Terms and Conditions
		carefully. It is a contract between you and us.</p>
		<p>We understand that there is a lot of information below. We have tried to make it
		as accessible and transparent as possible. However, if you still find that it is too dense or daunting, here are the answers to the top three questions that we are
		commonly asked:</p>
		<ol>
			<li>What do you do with our information? Please see our <a href="/privacy-policy">Privacy Policy</a>.</li>
			<li>If I terminate my event does my data get erased? Yes.</li>
			<li>How much do you cost? It’s free.</li>
			<li>Can I promote commercial events on HERENOW?<br>
		Yes. However if we receive reports from anyone informing us that an
		event is spam – it will be deleted.
		If you've got a commercial event you'd like to promote, we suggest
		you advertise on INVTR instead. For information on advertising
		please email advertising@herenow.nyc.</li>
		</ol>
		<p>That’s it. Please read the Terms of Use (Terms) below. By using our Site or
		Services, you agree to be bound by these Terms. If you do not agree with any
		of these Terms, please do not use the Site. Thanks!</p>
		<h3>IMPORTANT TERMS</h3>
		<p>A INTRODUCTION</p>
		<p>A.1 HERENOW.inc (HERENOW, “we,” “us,” “our”) is the owner of the INVTR website
		application and the www.invtr.co website (collectively, the Platform). INVTR is a web
		tool used to create, share and track personal event invites via email (the Service).</p>
		<p>A.2 HERENOW grants you access to the Platform subject to these Terms and Conditions
		(Terms). You warrant that you have read and understood these Terms and our Privacy
		Policy.</p>
		<p>A.3 Our use of any information you provide via the Platform is governed by our Privacy
		Policy available <a href='/privacy-policy'>here</a>. You acknowledge and agree that you are solely
		responsible for the accuracy and content of such information.</p>
		<p>A.4 Our liability is subject to limitations and exclusions as set out in Sections 8
		(INDEMNITY), 9 (DISCLAIMERS) and 10 (LIMITATION OF LIABILITY) of the General
		Conditions. Please read these Sections carefully because they limit your rights.</p>
		<p>B USERS</<p>p>
		<p>B.1 Users use the Platform to create and share event invites with their friends via email.
		They can check accepted or declined responses via the event tracking page.</p>
		<p>C USER ACCOUNTS</p>
		<p>C.1 Accounts. Users are not required to register with INVTR. Users simply need to provide
		their email address and allow access to their email contacts.</p>
		<p></p>C.2 Content. Users may upload Content related to their events, including, without limitation,
		illustrations, videos, audio clips, comments, information, data, text, photographs,
		software, scripts, graphics, vectors, and interactive features generated, provided, or
		otherwise made accessible through the Service (collectively, the Content).</p>
		<p>C.3 Rights and Licenses. INVTR does not acquire ownership rights in any Content. Every
		User that uploads Content to the Platform grants INVTR and its authorized sub-
		licensees and distributors, a worldwide, non-exclusive, royalty-free, right and license to:</p>
		<p>(a)
		Reproduce, distribute, digitally transmit, stream, display, create derivate works
		of, communicate to the public, synchronize, and collectively Exploit (Exploit):</p>
		<p>i The User’s Content and perform the Service on the User’s behalf using
		any technologies or methodologies; and,
		ii Exploit all associated copyrightable works or metadata on behalf of the
		User and in connection with the Service.</p>
		<p>(b) Allow Users of the Platform to view public displays of the Content on any and
		all devices owned or controlled by User for non-commercial purposes; and</p>
		<p>(c) Reproduce, use and publish the likenesses, personal and biographical Content
		of the Users in connection with the Service.INVTR by HERENOW Inc.</p>
		<p>(d)
		Terms and Conditions
		The foregoing license grant does not affect your ownership or license rights in
		your Content, including the right to grant additional licenses to the material.</p>
		<p>C.4 Trademarks. In connection with the Service, you grant the INVTR a worldwide, non-
		exclusive, royalty-free, and transferable right to use, distribute, reproduce, copy, and
		display your trademarks, service marks, slogans, logos or similar proprietary rights
		(collectively, Trademarks) for the marketing, promotion or advertising of either the User
		or the Service.</p>
		<p>C.5 Misuse of Account. You shall not:</p>
		<p>(a) Use an email ID with the intent to impersonate another person;</p>
		<p>(b) Use another email ID without appropriate authorization;</p>
		<p>(c) Use an email ID that is offensive, vulgar or obscene.</p>
		<p>INVTR reserves the right to cancel any event in its sole discretion. You are responsible
		for all activity that occurs on your account. You will immediately notify INVTR of any
		unauthorized use of your account, or any other account related security breach of which
		you are aware.</p>
		<p>D WARRANTIES</p>
		<p>D.1 User Warranties. You represent and warrant, and can demonstrate to INVTR’s full
		satisfaction upon request, that:</p>
		<p>(a) You are at least 13 years of age;</p>
		<p>(b) You own or otherwise control all rights to any uploaded Content; or</p>
		<p>(c) You have full authority to act on behalf of any and all owners of any right, title or
		interest in and to any Content you upload to the Service;</p>
		<p>(d) You have permission to use the name and likeness of each identifiable
		individual person you upload to the Platform in connection with any Content;
		and,</p>
		<p>(e) Submission of Content will not infringe or violate the rights of any third party,
		including without limitation any privacy rights, publicity rights, copyrights,
		contract rights, or any other intellectual property or proprietary rights.</p>
		<p>(f) All information and Content posted or transmitted through the Platform is the
		sole responsibility of the User from which such content originated. INVTR will
		not be liable for any errors or omissions in any content. Company cannot
		guarantee the identity of any Users with whom you may interact in the course of
		using the Platform.</p>
		<p>(g) The Exploitation of your Content on the Platform will not infringe or violate the
		rights of any third party, including, without limitation, any privacy rights, publicity
		rights, copyrights, contract rights, or any other intellectual property or
		proprietary rights.</p>
		<p>(h) No fees of any kind shall be due any third party, for the use or re-use of your
		Content as authorized under this Agreement. You are solely responsible for the
		authenticity, description, identity, condition, nature and quality of the Content.</p>
		<p>D.2 INVTR does not endorse and has no control over any Submission, nor can it guarantee
		the authenticity of any data that Users may provide about themselves. All content
		accessed by you using the Service is at your own risk. You are solely responsible for
		any damage or loss to any party resulting therefrom.</p>
		<p>D.3 You are responsible for indemnifying and holding INVTR harmless from and against
		any and all claims arising from the Exploitation of your Content on the Platform,
		including all court costs and legal fees.</p>
		<p>D.4 You acknowledge that all Content accessed by you using the Service is at your own risk
		and you will be solely responsible and liable for any damage or loss to you or any other
		party resulting therefrom.</p>
		<p>E USERS – PAYMENT AND FEES</p>
		<p>E.1 Service. Use of the Service is free for Users.</p>
		
		<h3>GENERAL CONDITIONS</h3>
		<h4>1 WESBITE APPLICATION</h4>
		<p>1.1 Compliance with these Terms is a condition to all use of the Platform by any person
		(User). By using the Platform, each User accepts and agrees to be bound by these
		Terms.</p>
		<p></p>1.2 INVTR may update these Terms at its absolute discretion from time-to-time, and unless
		stated otherwise by INVTR in writing, such updates shall come into effect once made
		available on the Platform or otherwise notified to Users.</p>
		<p>1.3 The Important Terms and the General Conditions form a single legal agreement. To
		the extent that the Important Terms are inconsistent with the General Conditions, the
		Important Terms will prevail.</p>
		<p>2 MODIFICATION OF THE SERVICE OR PLATFORM</p>
		<p>2.1 INVTR reserves the right, at its sole discretion, to change, modify, suspend or
		discontinue the Service and/or Platform, including, without limitation, the availability of
		any feature, database, function, or content) at any time. INVTR may impose limits on
		certain features, services, and/or function, or restrict User access to parts or all of the
		Service without notice or liability.</p>
		<p>2.2 It is your responsibility to check these Terms of Use periodically for changes. Your
		continued use of the Service following the posting of any changes to these Terms of
		Use constitutes acceptance of those changes. Notwithstanding the preceding
		sentences of this section, no modifications to these Terms of Use will apply to any
		dispute between you and Company that arose prior to the date of such modification.</p>
		<p>3 LICENSE & USE</p>
		<p>3.1 By accepting these Terms, the User is granted a limited, non-exclusive, non-
		transferable and revocable license to use, modify and reproduce the Content, solely for
		personal, non-commercial use.</p>
		<p>3.2 User is also granted access a limited, non-exclusive, and revocable license and use the
		Platform for the duration of these Terms, in accordance with these Terms.</p>
		<p>3.3 INVTR may revoke or suspend the User’s license(s) (and prevent future use of the
		Platform) in its absolute discretion for any reason that it sees fit, including for breach of
		these Terms by the User. INVTR will ordinarily advise the User of any suspension or
		revocation, however it is under no obligation to do so.</p>
		<p>3.4 The User agrees that it shall only access and use the Platform for legal purposes and
		shall not use it to engage in any conduct that is unlawful, immoral, threatening, abusive
		or in a way that is deemed unreasonable by INVTR in its discretion.</p>
		<p>3.5 User promises not to use Platform for any purpose prohibited by these Terms and
		Conditions.</p>
		<p>3.6 INVTR may limit or restrict access to the Platform from time-to-time as it sees fit,
		including (but not limited to):</p>
		<p>(a) Location. INVTR may restrict access to the Platform for Users from any
		location and may restrict transactions, payments or any other activity on our
		platform in any location in its absolute discretion.</p>
		<p>(b) Verifications. INVTR may limit Users and access to the Platform where it
		cannot, in its absolute discretion, verify any of the information provided to it by
		Users.</p>
		<p>4 PROHIBITED USER CONDUCT</p>
		<p>4.1 Each User warrants and agrees that, while using the Platform and the various services
		and features offered on or through the Platform, the User shall not:<p>
		<p>(a) Impersonate any person or entity, whether actual or fictitious, or misrepresent
		affiliation with any other person or entity;</p>
		<p>(b) Insert its own or a third party's advertising, branding or other promotional
		content into any of the Platform' content, Content or services, or use,
		redistribute, republish or exploit such content or service for any further
		commercial or promotional purposes without our permission;</p>
		<p>(c) Attempt to gain unauthorized access to other computer systems through the
		Platform;</p>
		<p>(d) Engage in spidering, "screen scraping," "database scraping," harvesting of
		catalogue information, e-mail addresses, wireless addresses or other contact or
		personal information, or any other automatic means of obtaining lists of
		property, Users or other information from or through the Platform;</p>
		<p>(e) Obtain or attempt to obtain unauthorized access to computer systems, Content
		or information through any means;</p>
		<p>(f) Use the Platform or the services made available on or through the Platform in
		any manner with the intent to interrupt, damage, disable, overburden, or impair
		the Platform or such services, including sending mass unsolicited messages or
		"flooding" servers with requests;</p>
		<p>(g) Abuse, harass, threaten, impersonate or intimidate other Users;</p>
		<p>(h) Use the Platform in violation of INVTR or any third party's intellectual property
		or other proprietary or legal rights; or</p>
		<p>(i) Use the Platform in violation of any applicable law.</p>
		<p>4.2 Each User further agrees not to attempt (or encourage or support anyone else's
		attempt) to engage in any of the foregoing prohibited activities or to circumvent, reverse
		engineer, decrypt, disassemble, decompile or otherwise alter or interfere with the
		Platform or make unauthorized use thereof.</p>
		<p>4.3 Each User must not use the Platform in any manner that could damage, disable,
		overburden, or impair the Platform or interfere with any other party's use and enjoyment
		of the Platform, nor obtain, use or access, or attempt to obtain, use or access, any
		Content or information through any means not intentionally made publicly available or
		provided for through the Platform.</p>I
		<p>5 FEES</p>
		<p>5.1 INVTR may introduce new services and/or fees by giving the User written notice of their
		availability and applicability.</p>
		<p>5.2 INVTR reserves the right to change the fees at any time at its absolute discretion.</p>
		<p>6 ADVERTISING</p>
		<p>6.1 INVTR’s Service is supported by advertising revenue and displays advertisements and
		promotions. You hereby agree that INVTR may place such advertising and promotions
		on the Platform or on, about, or in conjunction with your Content. The manner, mode
		and extent of such advertising and promotions are subject to change without specific
		notice to you.</p>
		<p>7 INTELLECTUAL PROPERTY</p>
		<p>7.1 Intellectual Property means all copyright, patents, inventions, trade secrets, know-
		how, product formulations, designs, circuit layouts, databases, registered or
		unregistered trademarks, brand names, business names, domain names and other
		forms of intellectual property.</p>
		<p>7.2 Proprietary Information. The Platform may use and incorporate software and other
		proprietary systems and Intellectual Property for which INVTR has appropriate authority
		to use, and the User agrees that such is protected by copyright, trademarks, patents,
		proprietary rights and other laws, both domestically and internationally. The User
		warrants that it shall not infringe on any Intellectual Property or other third-party rights
		through the use of the Platform (U.S. Copyright Act of 1976, Title 17 U.S.C).</p>
		<p>7.3 Platform. The User agrees and accepts that the Platform (including any source code,
		ideas, enhancements, feature requests, suggestions or other information provided by
		the User or any other party with respect to the Platform) is the Intellectual Property of
		HERENOW and the User further warrants that by using the Platform the User will not:</p>
		<p>(a) Copy the Platform or the services that it provides for the User’s own
		commercial purposes; and</p>
		<p>(b) Directly or indirectly copy, recreate, decompile, reverse engineer or otherwise
		obtain, modify or use any source or object code, architecture, algorithms
		contained in the Platform or any documentation associated with it.</p>
		<p>7.4 Trademarks. INVTR has moral & registered rights in its trademarks and the User shall
		not copy, alter, use or otherwise deal in the marks without the prior written consent of
		INVTR.</p>
		<p>8 INDEMNITY</p>
		<p>8.1 Own Risk. The User agrees that it uses the Platform at its own risk.</p>
		<p>8.2 Errors or Failures. The User acknowledges that INVTR is not responsible for the
		conduct or activities of any User and that INVTR is not liable for such under any
		circumstances or any errors or failures to execute requests or offers on the Platform,
		including errors or failures caused by: (1) loss of connection to the internet or to the
		online software by any party, or (2) a breakdown or failure of the software.INVTR by HERENOW Inc.
		Terms and Conditions</p>
		<p>8.3 User Interactions. User releases INVTR from all liability relating to any connections
		and relationships with other Users. INVTR makes no representations or warranties as
		to the conduct of Users or the veracity of any information they provide. In no event shall
		INVTR be liable for any damages whatsoever, whether direct, indirect, general, special,
		compensatory, consequential, and/or incidental, arising out of the Services, including,
		without limitation, bodily injury, emotional distress, and any damages resulting in any
		way from communications or meetings with Users that meet through the Service. Users
		are encouraged to take reasonable precautions and exercise the utmost personal care
		in all interactions with any individual they come into contact with through the Service.</p>
		<p>8.4 Links. Where the Platform contains links to other websites and resources provided by
		third parties, these links are provided to Users for information only without any
		endorsement or warranty whatsoever from INVTR. The User enters those websites
		solely at its own risk and acknowledges that INVTR has no control over and accepts no
		responsibility whatsoever for those websites or resources.</p>
		<p>8.5 Confidentiality. Electronic Communications Privacy Act Notice (18 U.S.C. §§ 2701-
		2711): HERENOW makes no guaranty of confidentiality or privacy of any
		communication or information transmitted on the Site or any website linked to the Site.</p>
		<p>8.6 Indemnification. The User agrees to indemnify INVTR for any loss, damage, cost or
		expense that INVTR may suffer or incur as a result of or in connection with the User’s
		access to, use of, or conduct in connection with the Platform, including any breach by
		the User of these Terms.</p>
		<p>(a)
		The User’s indemnification of INVTR will survive the termination of these Terms
		and any use of the Platform.</p>
		<p>9 DISCLAIMERS</p>
		<p>9.1 Each User acknowledges and agrees that:</p>
		<p>(a) The Platform (including all content, function, Content and services) is provided
		"as is," without warranty of any kind, either express or implied, including any
		warranty for information, data, data processing services or uninterrupted
		access, any warranties concerning the availability, accuracy, completeness,
		usefulness, or content of information, and any warranties of title, non-
		infringement, merchantability or fitness for a particular purpose.</p>
		<p>(b) INVTR does not warrant that the Platform (or the function, content or services
		made available thereby) will be timely, secure, uninterrupted or error free, or
		that defects will be corrected. INVTR makes no warranty that the Platform will
		meet Users' expectations or requirements. No advice, results or information, or
		Content whether oral or written, obtained through the Platform shall create any
		warranty not expressly made herein. If a User is dissatisfied with the Platform,
		the sole remedy is to discontinue using the Platform.</p>
		<p>(c) Any material downloaded or otherwise obtained through the use of the Platform
		remains at the discretion and risk of the User and the User will be solely
		responsible for any damage that results from the download of any such
		material.</p>
		<p>(d) INVTR does not endorse, warrant or guarantee any products or services
		offered or provided by or on behalf of third parties on or through the Platform.
		INVTR is not a party to, and does not monitor, any transaction between Users
		and third parties.</p>
		<p>9.2 Each party acknowledges that it has not relied on any representation, warranty or
		statement made by any other party, other than as set out in these Terms.</p>
		<p>10 LIMITATION OF LIABILITY</p>
		<p>10.1 In no event shall INVTR or any of its suppliers, distributors, vendors, contractors,
		galleries, institutions, content or service providers be liable for any indirect, special,
		incidental, consequential, exemplary or punitive damages arising from or directly or
		indirectly related to the use of, or the inability to use, the Platform (or the information,
		content, Content and function related thereto), including loss of revenue, or anticipated
		profits, or lost or corrupted data, or lost business or sales, or cost of substitute services,
		even if INVTR or such person has been advised of the possibility of such damages.</p>
		<p>10.2 The above limitations only apply to the extent permitted in the relevant jurisdiction.</p>
		<p>11 DISPUTES</p>
		<p>11.1 Where a dispute arises between INVTR and a User, the following process shall apply:</p>
		<p>12</p>
		<p>(a) Negotiation. If there is a dispute between the parties relating to or arising out
		of these Terms, then within 10 business days of a party notifying the other party
		of a dispute, senior representatives from each party must meet (or discuss
		directly via the telephone or internet) and use all reasonable endeavours acting
		in good faith to resolve the dispute by joint discussions;</p>
		<p></p>(b) Court proceedings. A party may not commence court proceedings in relation
		to a dispute relating to or arising out of these Terms until it has exhausted its
		obligation to negotiate, unless the party seeks appropriate injunctive or other
		interlocutory relief to preserve property or rights or to avoid losses that
		damages are inadequate to compensate.</p>
		<h4>GOVERNING LAW AND JURISDICTION</h4>
		<p>(a) These Terms, as well as the respective rights and obligations hereunder, shall
		be governed by and construed and enforced in accordance with the laws of the
		State of New York without regard to conflict of laws principles. Please note that
		use of the Platform by any User may be subject to other local, state, national,
		and international laws.</p>
		<p>(b) Each User expressly:</p>
		<p>i Agrees that exclusive jurisdiction for resolving any claim or dispute with
		INVTR relating in any way to use of the Platform resides in the state
		and federal courts of the State of New York;</p>
		<p>ii Agrees and consents to the exercise of personal jurisdiction in the state
		and federal courts of the State of New York;</p>
		<p>iii Waives any right to a jury trial in any legal proceeding against INVTR;
		and</p>
		<p>iv Agrees that any claim or cause of action with respect to use of the
		Platform must be commenced within one (1) year after the claim arises.INVTR by HERENOW Inc.</p>
		<p>(c)</p>
		<p>Terms and Conditions</p>
		<p>If you are accepting these Terms of Use on behalf of a United States federal
		government entity that is legally unable to accept the controlling law, jurisdiction
		or venue clauses above, then those clauses do not apply to you. In this event,
		these Terms and any action related thereto will be will be governed by the laws
		of the United States of America (without reference to conflict of laws) and, in
		the absence of federal law and to the extent permitted under federal law, the
		laws of the State of New York (excluding choice of law).</p>
		<p>13 GENERAL</p>
		<p>13.1 Waiver. No clause of these Terms will be deemed waived and no breach excused
		unless such waiver or consent is provided in writing.</p>
		<p>13.2 Further Assurances. Each party must do anything necessary (including executing
		agreements and documents) to give full effect to these Terms and the transaction
		facilitated by it.</p>
		<p>13.3 Severability. Any clause of these Terms, which is invalid or unenforceable is
		ineffective to the extent of the invalidity or unenforceability without affecting the
		remaining clauses of these Terms.</p>
		<p>14 CONTACT</p>
		<p>14.1 To contact us with any questions or concerns in connection with these Terms or the
		Platform, or to provide us with any notice under these Terms, please write to us at:
		info@HERENOW.nyc
		Updated: December 28, 2015</p>
	</div>
</div>